<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>

    <bindings>
      <webHttpBinding>
          <binding name="web" maxReceivedMessageSize="10485760" maxBufferSize="10485760" maxBufferPoolSize="2147483647" transferMode="Streamed" >
              <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          </binding>
      </webHttpBinding>    
    </bindings>
    
    <services>
      <service name="TagSortService.BookmarkCollectionRepository" behaviorConfiguration="web">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:61091/TagSortService" />
          </baseAddresses>
        </host>
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="TagSortService.IBookmarkCollectionRepository" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="web">
          
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="TagSortService.RestAuthorizationManager, TagSortService" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          
          <webHttp helpEnabled="true"></webHttp>          
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="http" />
      <add binding="basicHttpBinding" scheme="http" />
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <httpProtocol>
      <customHeaders>        
        <add name="Access-Control-Allow-Headers" value="Content-Type,Authorization,Access-Control-Allow-Origin" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />        
        <add name="Access-Control-Allow-Origin" value="http://localhost" />
      </customHeaders>
    </httpProtocol>
      
  </system.webServer>

  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXbfqqsH5wUS5DppfO+lXRAQAAAACAAAAAAAQZgAAAAEAACAAAACXIYSeoSK/2RrKu2pNZ01wA2hBJDUqMZ0y3tD3j4VHPwAAAAAOgAAAAAIAACAAAAAiFNmKCRxKhtn9X3XTMNl7vnN9/HM1wwgm5uH7Cxk8lXABAABcJ72zl9jc1tgK4JGbapKV5WceZr3s80VETVzwdFraboFVIJ6JhstVhKNxxqwUwQZk3lQvTm2vlfgRnnP2zHM5tUiYJq77qWMyWxXpJ7ifYE2SMAmWuALyFHQycAgJ4lP7U61Z6bCoe44eIIe5RqhsnSz56ors0eOVF/ytJQfD+WccNK0Vg+lSidOpbPu67deHI6fqQPQTbJ6cbKXhqH0JBYgmAOBlEsTvMOVwgeim8IEvS3+zh6i/wsQbgYjdyQXsf4tCMOcD2seDplmV5CCJTQKKqW264RaxCCkHI1rqrSM+YIB6n96FG1G+MXTaIg4zXOeP5iB24U9joM4ZUci+fjaDjQ3OH6IycpALW3Mt+PAGs9uYoHZCsd+Uv/nfV71bNrcmm49ri1lmpO92ksiVm0LzAeloHqIGsb2rvniiQrdXccWw8WiRgvAKIK9YJlfcgP8P5hEQaakqv5tMLRWvpJr2jMu2qXfFypSR4aGrk0AAAACS4SQoHezoHVdKkIEOxSZkYBt6+Cl9TH4NgeJOMSrN6CdAgMElbYBkm4Q2+FcsWR4dfKaMfdgl5a8Gno2WLuju</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  
</configuration>